{% load i18n html extract %}
<!DOCTYPE html>
<html
	data-url_site="{{ site.url }}"
	data-url_static="{{ media_url }}">

<head>
	<title>{% if feed %}{{ feed.title }} - {% endif %}{{ site.title }}</title>
	<link rel="stylesheet" href="{{ media_url }}/default.css" type="text/css"/>
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{ site.url }}/feed/rss/" />
	<script type="text/javascript" src="{{ media_url }}/jquery.js"></script>
	<script type="text/javascript" src="{{ media_url }}/fold.fern.js"></script>
	{% block extrastyle %}{% endblock %}
	{% block extrahead %}{% endblock %}
</head>

<body>


<div id="header">

<div class="tit"><h1>
<a title="{% if feed %}{{ feed.title }} - {% endif %}{{ site.title }}"
	href="{{ site.url }}">{% if feed %}{{ feed.shortname }} - {% endif %}{{ site.title }}</a>
</h1></div>

<div class="subfeeds"></div>

<div class="buttons">
	<a href="{{ site.url }}/syndication/atom{{ url_suffix }}/" title="Atom 1.0 feed">
		<img src="{{ media_url }}/button-atom.png"/></a>
	<a href="{{ site.url }}/syndication/rss{{ url_suffix }}/" title="RSS 2.0 feed">
		<img src="{{ media_url }}/button-rss.png"/></a>
	<a href="{{ site.url }}/syndication/opml/" title="OPML">
		<img src="{{ media_url }}/button-opml.png"/></a>
	<a href="{{ site.url }}/syndication/foaf/" title="FOAF">
		<img src="{{ media_url }}/button-foaf.png"/></a>
</div>

</div>


<div id="container">


<div id="center" class="column">

{% for item in object_list %}

{% with item|site_ordering_date:site as date_site %}
{% with date_site|date:"Y-m-d" as date_key %}

{% ifchanged item.feed.id date_key %}
{% if not forloop.first %}
		<br class="clear" />
	</div> {# /.channel #}
{% endif %}
{% endifchanged %}

{% ifchanged date_key %}
{% if not forloop.first %}
</div> {# /.day #}
{% endif %}
<div class="day">
	<h1 data-timestamp="{{ date_key }}">{{ date_site|date:"l, F j, Y" }}</h1>
{% endifchanged %}

{% ifchanged item.feed.id date_key %}
	<div class="channel">
		<h2><a href="{{ item.feed.link }}"
			title="{{ item.feed.title }}">{{ item.feed.shortname }}</a></h2>
{% endifchanged %}

		<div class="entry" data-timestamp="{{ date_site|date:"U" }}">
			<h3><a href="{{ item.link }}">{% if item.title %}{{ item.title|safe }}
						{% else %}{{ item.subscriber.name|safe }}{% endif %}</a></h3>
			<div class="content">
			{{ item.content|prettyhtml|safe }}
			</div> {# /.content #}
			<p class="date"><a href="{{ item.link }}" title="{% trans "Author link" %}">{% if item.author %}{% blocktrans with item.author as author %}by {{ author }} at{% endblocktrans %}{% endif %} {{ item.date_modified|date:"g:i A" }}</a>{% for tag in item.qtags %}{% if forloop.first %} {% trans "under" %} {% endif %}<a href="{{ site.url }}/tag/{{ tag.name }}" title="Tag">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
			{% if item.comments %}<a href="{{ item.comments }}" title="{% trans "Comments" %}">({% trans "Comments" %})</a> {% endif %}
			</p>
		</div> {# /.entry #}

{% if forloop.last %}
		<br class="clear"/>
	</div> {# /.channel #}
{% endif %}

{% if forloop.last %}
</div> {# /.day #}
{% endif %}

{% endwith %}
{% endwith %}

{% endfor %}

</div> {# /#center #}


</div> {# /#container #}


<div id="footer">
{% if site.welcome %}
<div class="welcome">
<h2>{% trans "Welcome" %}</h2>
{{ site.welcome|safe }}
</div>
{% endif %}
{% if site.greets %}
<div class="credits">
<h2>{% trans "Credits" %}</h2>
{{ site.greets|safe }}
</div>
{% endif %}

<p class="paginator clear">
	Page {{ page }} of {{ pages }} (
	{% blocktrans count hits as posts %}{{ posts }} post{% plural %}{{ posts }} posts{% endblocktrans %}
	) <br />
{% if has_previous %}<a href="?page={{ previous }}">&lt;&lt; {% trans "Back" %}</a>{% endif %} {% if has_next %}<a href="?page={{ next }}">{% trans "Forward" %} &gt;&gt;</a>{% endif %}</p>
</div>


<div class="subfeeds_dd">
	<p>Subfeeds:</p>
	{% for subsciber in subscribers %}
		<p><a href="{{ site.url }}/feed/{{ subsciber.feed.id }}/"
			title="{{ subsciber.feed.title }}">{{ subsciber.name }}</a></p>
	{% endfor %}
</div>


</body>

</html>
