
h1, h2, h3, h4 {
	clear: both;
}

entry h3 {
	float: left;
}

acronym, abbr {
	border-bottom: 1px dashed #333;
}

acronym, abbr, span.caps {
	cursor: help;
	letter-spacing: .07em;
}

blockquote {
	margin-left: 2em;
	border: 1px solid #83a07e;
	border-left-width: 3px;
	font-style: italic;
	padding: 10px;
	clear: both;
	background: #fff;
}

cite {
	font-style: normal;
}

#center .day>h1 {
	text-align: center;
	border: 2px solid #507e5e;
	border-width: 2px 0;
	margin: 1em 0 0 0;
	font-weight: normal;
	float: left;
	width: 100%;
}
#center .day>h1 img {
	float: right;
	width: 1em;
	margin: .2em;
	cursor: pointer;
}

#center .day>.channel>h2 {
	padding: 0 1em 0 .5em;
	border-bottom: 2px solid #666;
	margin-top: 1em;
	float: left;
}
#center .day>.channel>h2 a {
	display: block;
	color: #666;
	text-decoration: none;
}
#center .day>.channel>h2 a:hover {
	text-decoration: none;
	background: none;
}

#center .day>.channel>.entry>h3 {
	text-align: left;
	border-bottom: 1px solid #CCC;
}
#center .day>.channel>.entry>h3 a {
	text-decoration: none;
	color: #000;
	font-size: 120%;
	margin-left: 1em;
}
#center .day>.channel>.entry>h3 a:hover {
	background: none;
	color: #644;
	text-decoration: underline;
}

#center .entry {
	padding: 10px;
}

.entry h1, .entry h2, .entry h3 { color: #000; }
.entry h1 { font-size: 115%; }
.entry h2 { font-size: 110%; }
.entry h3 { font-size: 105%; }

.entry {
	text-align: justify;
	overflow: auto;
}
.entry li {
	list-style-image: url('dot.png');
	margin-left: 2.5em;
}

.entry img {
	max-width: 95%;
	height: auto;
	padding: 2px;
	margin: 5px;
}

.content h3, .content h4 {
	text-align: left;
	border: 0;
}

.centrado, .center, .centrar {
	text-align: center;
}
.alignleft, .align-left, .izquierda, .izq, .left {
	float: left;
}
.alignright, .align-right, .derecha, .der, .right {
	float: right;
}

.entry pre {
	width: 85%;
	padding: 10px;
	border: 1px solid #BBB;
	overflow: auto;
}

.entry pre.code {
	border-color: 1px solid #00A;
	color: #00A;
}

.day.folded .channel { display: none; }
.channel.folded .entry { display: none; }
.entry.folded .content { display: none; }
#center .day>.channel.folded>h2,
#center .day>.channel.folded>h2 a { color: silver; }
#center .day>.channel>.entry.folded>h3,
#center .day>.channel>.entry.folded>h3 a { color: gray; }

.entry .content table {
	max-width: 95%;
}

div.ttag {
	clear:both;
	color:#BBB;
	text-align:right;
	font-family:monospace;
}
div.ttag img { border:0;margin:0;padding:0; }
div.ttag a { color:#BBB; }
div.ttag a:hover { color:#999;}
